.our-mission-container{
    padding: 100px 0px;
}
.our-mission-container p{
    color: #000;
}

.left-container{
    background-color: #fff;
    padding: 50px 20px 50px 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.left-container .mission-hr{
    width: 28%;
    margin: 5px 0px;
}
