.add-to-bag-button{
    color: #fff;
    background-color: rgba(92, 51, 169, 1);
    padding: 8px 40px;
    font-size: 12px;
    border: none;
}
.buy-now-button{
    color: #fff;
    margin-left: 20px;
    background-color: rgba(232, 99, 154, 1);
    padding: 8px 40px;
    font-size: 12px;
    border: none;
}