.header-container{
    position: sticky !important;
    top: 0;
    background-color: #fff;
    z-index: 150;
}
.discount-container{
    background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
}