.star-rating svg{
    display: inline-block !important;
}
.accordion-header{
    padding: 0px;
    margin: 0px;
    font-size: 20px !important;
}
.accordion-button{
    margin: 0px !important;
    padding: 6px !important;
}
.accordion-button::after{
    height: 20px;
    width: 20px;
    font-size: 12px;
}
.accordion-button:not(.collapsed){
    background-color: #fff !important;
    margin: 0px !important;
}
.accordion-body{
    padding: 5px;
}