.navbar-container{
    background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1),rgba(92, 51, 169, 1));
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}