.video-watch-button{
    // width: 100%;
    position: absolute;
    bottom: 30px;
    left: 25px;
    background-image:  linear-gradient(to right,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
    border:none;
    // padding: 6px;
    font-size: 22px;
    font-weight: 700;
    //opacity: .9;
}

.home-post-container{
    border: none;
    background-image:  linear-gradient(to bottom,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
}
.blog-tag-filter-button{
    border-radius: 10px !important;
    padding: 10px auto !important;
    color: #fff !important;
    background-color:  rgba(0, 7, 45, 1);
    width: 47%;
    border: none;
}
.blog-tag-filter-button-active{
    background-image:  linear-gradient(to bottom,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
}
.blog-tag-filter-button span,.blog-tag-filter-button image{
    color: #fff !important;
}
.blog-full-width-button{
    width: 100%;
    border:none;
    background-image:  linear-gradient(to bottom,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
}