.video-watch-button{
    // width: 100%;
    position: absolute;
    bottom: 30px;
    left: 25px;
    background-image:  linear-gradient(to right,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
    // padding: 6px;
    font-size: 22px;
    font-weight: 700;
    //opacity: .9;
}
.home-post-container{
    background-image:  linear-gradient(to bottom,rgba(92, 51, 169, 1) ,rgba(232, 99, 154, 1));
}