.contact-form-container{
    padding: 10px 100px;
    background-image: linear-gradient(to right, rgba(92, 51, 169, 1), rgba(232, 99, 154, 1));
}
.footer-info{
    padding: 60px 150px 20px;
    background-color: #fff;
}

/*** RESPONSIVE AREA ***/
@media only screen and (min-width:360px) {
    .footer-info{
        padding: 60px 20px 20px;
    }
}
  
@media only screen and (min-width:980px) {
    .footer-info{
        padding: 60px 150px 20px;
    }
}